<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[System.*]*,'[Microsoft.*]*'</Exclude> <!-- Exclude all System and Microsoft assemblies -->
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute> <!-- Exclude attributes -->
          <ExcludeByFile>**/System.*.cs</ExcludeByFile> <!-- Exclude System source files if present -->
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
