name: Build and Test

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

env:
    DOTNET_VERSION: '10.0'

jobs:
    build-and-test-app:
        name: Build and Test App
        runs-on: windows-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v5
            -   name: Setup .NET ${{ env.DOTNET_VERSION }}
                uses: actions/setup-dotnet@v5
                with:
                    dotnet-version: ${{ env.DOTNET_VERSION }}
            -   name: Build
                run: dotnet build --configuration Release
            -   name: Test
                run: dotnet test --configuration Release --no-build --collect:"XPlat Code Coverage" --results-directory ./coverage
            -   name: Install Coverage Checker
                run: dotnet tool install --global CoverageChecker.CommandLine
            -   name: Check Coverage
                run: coveragechecker --format Cobertura --glob-patterns 'coverage/**/coverage.cobertura.xml' --line-threshold 80 --branch-threshold 80

    build-api-image:
        name: Build API Image
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v5
            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435
            -   name: Build Docker Image
                uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
                with:
                    file: ./src/Jahoot.WebApi/Dockerfile
                    push: false
